html,
body {
  height: 100%;
  color: $text-color;
}

#app-root {
  width: 100%;
  height: 100%;
}

.btn {
  // TODO: bootstrap vars dont work on this one
  &:hover, &:active, &:focus {
    box-shadow: none !important;
  }

  &.btn-primary {
    font-weight: bold;
    line-height: 40px;
    font-size: 16px;
    color: $white;
    background-color: $btn-primary-bg-color;

    &:hover, &:active, &:focus {
      background-color: $btn-primary-hover-color !important;
    }
  }
}

.btn-logout {
  background: url('../assets/img/logout.ico.png') no-repeat left center;
  padding-left: 27px;
  color: $btn-logout-color;

  &:hover {
    color: $list-filter-hover-color;
    text-decoration: none;
  }
}

.light-gray {
  color: $light-gray;
}

.cards {
  padding: 0 5px;
  margin-bottom: 35px;

  .card {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px $card-shadow-color;
    background-color: $white;

    .card-body {
      font-size: 15px;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}