::-webkit-scrollbar {
  width: 7px;
  height: 65px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $scrollbar-color;
}

#no-scroll {
  overflow-y: hidden;
}

.list-bg {
  background: $login-bg-color url('../assets/img/list.bg.png');
  background-size: cover;
  resize: both;

  h2 {
    font-size: 48px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
  }

  .by-logo {
    font-size: 20px;
  }

  .mini-logo {
    width: 67px;
    margin-top: -5px;
  }
}

.navbar {
  height: $navbar-height;
}

.h-100-minus-navbar {
  height: calc(100% - #{$navbar-height});
}

.min-h-100-minus-navbar {
  min-height: calc(100% - #{$navbar-height});
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  width: calc(100% - (#{$grid-gutter-width} / 2));
}

.list {
  border-top: 1px solid $list-border-color;
  background-color: $main-bg-color;

  .filter {
    padding: 20px 0;
    height: $filter-height;

    .open, .closed {
      background: no-repeat left center;
      padding-left: 23px;
      opacity: 0.5;
      font-size: 14px;
      line-height: 30px;

      &:hover {
        color: $list-filter-hover-color;
      }

      &.active {
        opacity: 1;
      }
    }

    .open {
      background-image: url('../assets/img/open.ico.png')
    }

    .closed {
      background-image: url('../assets/img/closed.ico.png')
    }
  }

  .cards {

    height: calc(100% - #{$navbar-height} - #{$filter-height});
    overflow: auto;

    .card {
      background: $white url('../assets/img/issue.ico.png') no-repeat 30px 28px;

      &:last-child {
        margin: 0;
      }

      .badge {
        padding: 6px 5px 3px;
        font-size: 12px;
        margin: 0 2.5px;

        &.badge-warning {
          box-shadow: 0 1px 0 $badge-warning-shadow-color;
        }

        &.badge-danger {
          background-color: $danger-badge-color;
          box-shadow: 0 1px 0 $danger-badge-shadow-color;
        }

        &.badge-secondary {
          background-color: $secondary-badge-color;
          box-shadow: 0 1px 0 $secondary-badge-shadow-color;
        }
      }

      .card-body {
        padding: 25px 70px 26px 65px;
      }

      .issue {
        margin-bottom: 5px;

        .title {
          margin-right: 5px;
        }
      }

      .comments {
        background: url('../assets/img/comments.ico.png') no-repeat left center;
        padding-left: 23px;
        position: absolute;
        top: 28px;
        right: 30px;
        font-size: 13px;
        color: $light-gray;

        &:hover {
          text-decoration: underline;
        }
      }

      .issue-info {
        color: $gray;
        font-size: 13px;

        .author {
          color: $author-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .pagination {
    .page-link {
      width: 35px;
      height: 35px;
      line-height: 35px;
      padding: 0;
      border-radius: 18px;
      text-align: center;
      box-shadow: 0 1px 2px $card-shadow-color;
      margin-right: 6px;
      font-size: 13px;

      &.next {
        margin-left: 24px;
      }

      &.prev {
        margin-right: 30px;
      }

      &.dots {
        margin: 0 10px 0 4px;
        pointer-events: none;
      }

      &.active {
        background-color: $pagination-active-color;
        color: $white;
      }

      &.next, &.prev, &.dots {
        width: auto;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;

        &:hover {
          color: $pagination-active-color;
        }
      }
    }
  }
}