
// Colors
$white: #fff;
$light-green: #9fd533;
$login-bg-color: #0b0f27;
$main-bg-color: #f5f5f5;
$list-border-color: #e6e6e6;
$btn-primary-hover-color: #86b300;
$btn-primary-bg-color: $light-green;
$list-filter-hover-color: #99cc33;
$author-color: #85b32b;
$issue-back-color: rgb(133, 179, 43);
$text-color: #333333;
$light-gray: rgb(153, 153, 153);
$gray: rgb(191, 191, 191);
$scrollbar-color: #b7b7b7;
$issue-color: rgb(51, 51, 51);
$comment-color: rgb(102, 102, 102);
$danger-badge-color: #e10c02;
$danger-badge-shadow-color: #b40a02;
$secondary-badge-color: #444444;
$secondary-badge-shadow-color: #363636;
$badge-warning-shadow-color: #c9a203;
$badge-open-color: #7faa29;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$pagination-bg: $white;
$pagination-hover-color: $white;
$btn-logout-color: #2f3153;
$pagination-active-color: rgb(159, 213, 51);

$link-color: $text-color;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: none;

$badge-border-radius: 2px;


$card-border-radius: 5px;
$card-border-width: 0;

$pagination-border-width: 0;
$pagination-hover-bg: $btn-primary-bg-color;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;

// Reset button
// TODO: non working
$input-btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

$btn-border-width: 0;

// Increase xl width
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
);

// Add 6th spacer
$spacer: 1rem;
$spacers: (
        6: ($spacer * 3.8)
);

$navbar-padding-y: 2.3rem;
$navbar-height: 115px;

$filter-height: 80px;